/* styles.css */


/* Set the overall background color */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1E90FF;
    /* Light gray background */
}


/* Set container width and margins */

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}


/* Set header background color and padding */

header {
    background-color: #00BFFF;
    /* Blue background */
    padding: 20px 0;
}


/* Set header h1 styles */

header h1 {
    margin: 0;
    font-size: 36px;
    color: #333;
    /* Dark gray text */
}


/* Set navigation list styles */

nav ul {
    list-style-type: none;
    padding: 0;
}


/* Set navigation list item display */

nav ul li {
    display: inline;
    margin-right: 20px;
}


/* Set navigation link styles */

nav ul li a {
    text-decoration: none;
    color: #333;
    /* Dark gray text */
    font-weight: bold;
}


/* Set section padding */

section {
    padding: 50px 0;
}


/* Set hero background image and text styles */

#hero {
    background-image: url('utopia.jpg');
    /* Add your hero image here */
    background-size: cover;
    color: #fff;
    /* White text */
    text-align: center;
}


/* Set hero h2 styles */

#hero h2 {
    font-size: 48px;
    margin: 0;
}


/* Set hero p styles */

#hero p {
    font-size: 18px;
    margin-top: 20px;
}


/* Set footer styles */

footer {
    background-color: #333;
    /* Dark gray background */
    color: #fff;
    /* White text */
    text-align: center;
    padding: 20px 0;
}


/* Set footer p styles */

footer p {
    margin: 0;
}


/* Add styles for img-responsive class */

.img-responsive {
    max-width: 100%;
    height: auto;
}